<section class="newsletter-area newsletter-bg" style="background-image: url('assets/img/bg/newsletter_bg.jpg')">
    <div class="container">
        <div class="newsletter-inner-wrap">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="newsletter-content">
                        <h4 translate>FOOTER.TRIAL</h4>
                        <p translate>FOOTER.SUSCRIBE_EMAIL</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form action="#" class="newsletter-form">
                        <input type="email" required placeholder="{{ 'FOOTER.EMAIL' | translate }}">
                        <button class="btn" translate>FOOTER.STARTED</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="footer-top-wrap">
    <div class="container">
        <div class="footer-quick-link-wrap">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="quick-link-list">
                        <ul>
                            <li><a href="#" translate>FAQ</a></li>
                            <li><a href="#" translate>FOOTER.MENU.HELP</a></li>
                            <li><a href="#" translate>FOOTER.MENU.TERMS</a></li>
                            <li><a href="#" translate>FOOTER.MENU.PRIVACY</a></li>
                            <li><a href="#" translate>FOOTER.MENU.CONTACTS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="footer-social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="copyright-text">
                    <p>Copyright &copy; <span translate>FOOTER.COPYRIGHT</span><a href="index.html"> Kilima</a></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="payment-method-img text-center text-md-right">
                    <img src="assets/img/images/card_img.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>
