<div class="sign section--full-bg" data-bg="/assets/img/tv_living_room-min.png">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sign__content">
          <!-- authorization form -->
          <form action="#" class="sign__form">
              <img class="sign__logo w-40" src="/assets/kilima_logo.png" alt="">

            <!-- <div class="sign__group">
              <input type="text" class="sign__input" placeholder="Email">
            </div>

            <div class="sign__group">
              <input type="password" class="sign__input" placeholder="Password">
            </div> -->

            <!-- <div class="sign__group sign__group--checkbox">
              <input id="remember" name="remember" type="checkbox" checked="checked">
              <label for="remember">Remember Me</label>
            </div> -->
            
            <button class="sign__btn bg-red-500" type="button" (click)="GoogleAuthentication()">Connection Avec Google</button>

            <span class="sign__delimiter">Ou</span>

            <button class="sign__btn bg-blue-500" type="button">Connection Avec Facebook</button>


            <!-- <span class="sign__text">Don't have an account? <a href="signup.html">Sign up!</a></span> -->

            <!-- <span class="sign__text"><a href="forgot.html">Mot de passe oublié?</a></span> -->
          </form>
          <!-- end authorization form -->
        </div>
      </div>
    </div>
  </div>
</div>