
<section class="vid-pg-bg">
    <div class="bg-white/[0.9] w-full ">
        <img class="login-logo" src="assets/img/logo.png" alt="logo">

        <div class="row  my-8 text-center ">
            <h4 class="text-black justify-center items-center">Bienvenue <span class="text-yellow-500">{{user_name}}</span>, veuillez completer votre inscription.</h4>
        </div>

         
        <div class="row my-16 flex justify-center items-center border-t-4">
            <button class="uppercase h-12 my-8  mx-6 text-white w-96 rounded bg-blue-500 hover:bg-blue-900"><i class="fa fa-facebook mr-2"></i>Facebook</button>
           
            <button class="uppercase h-12 my-8  mx-6 text-white  w-96 rounded bg-red-500 hover:bg-red-900" ><i class="fa fa-google mr-2"></i>Google</button>
         </div>

    </div>
</section>

