<!-- preloader -->
<!-- <div id="preloader">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <img src="assets/img/preloader.svg" alt="">
        </div>
    </div>
</div>
 --><!-- preloader-end -->

<!-- Scroll-top -->
<button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-angle-up"></i>
</button>
<!-- Scroll-top-end-->

<!-- header-area -->
<header>
    <app-header></app-header>
</header>
<!-- header-area-end -->


<!-- main-area -->
<main>
    <app-main></app-main>
</main>
<!-- main-area-end -->


<!-- footer-area -->
<footer>
    <app-footer></app-footer>
</footer>
<!-- footer-area-end -->
